	// .header__top
	&__top {
		background-color: #00aa4b;
	}

	.top-header {
		position: relative;

		// .top-header__nav
		&__nav {
			@media (max-width:1440px) {
				display: none;
			}
		}

		// .top-header__menu
		&__menu {}


		// .top-header__ul
		&__ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 48px;
		}

		// .top-header__li
		&__li {


			&_mail {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 0 0 160px;
				white-space: nowrap;

				&:before {
					padding-right: 10px;
					transform: translateY(15%);
					content: url(../img/header/email.png);
				}

				span {
					display: none;
					position: absolute;
					bottom: -65px;
					left: 0;
					padding: 15px 35px;
					border-radius: 25px;
					font-size: 16px;
					font-family: $f1;
					line-height: 1.2em;
					color: rgb(255, 255, 255);
					background-color: rgb(35, 35, 35);
					&.active {
					display: block;
					z-index: 5;
					}
				}
			}

			&_phone {
				position: relative;
				display: flex;
				align-items: center;
				flex: 0 0 160px;

				&:before {
					padding-right: 10px;
					transform: translateY(15%);
					content: url(../img/header/tel.png);
				}
			}
		}

		// .top-header__a
		&__a {
			font-size: 16px;
			color: #fff;

			&:after {
				content: '';
			}
		}
	}

	// Дополнительный popup
	.top-header {

		// .top-header__phone-container
		&__phone-container {
			visibility: hidden;

			@media (min-width:1440px) {
				&.active {
					visibility: visible;
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.6);
					z-index: 25;
				}
			}

			&.active {
				visibility: visible;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.6);
				z-index: 25;
			}
		}

		// .top-header__phone-wrap
		&__phone-wrap {
			max-width: 1550px;
			margin: 0 auto;
			height: 100%;
			position: relative;
		}

		// .top-header__phone
		&__phone {
			position: absolute;
			right: 0;
			width: 755px;
			height: 365px;
			background-color: #fff;
			z-index: 30;

			@media (max-width:1440px) {
				width: 100%;
				height: 100%;
			}
		}
	}

	// Первый столбец
	.phone {
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width:767px) {
			align-items: stretch;
		}

		&__close {
			position: absolute;
			top: 15px;
			right: 15px;
		}

		// .phone__container
		&__row {
			display: flex;
			margin: 0 -61px;

			@media (max-width:1440px) {
				margin: 0 -30px;
			}

			@media (max-width:767px) {
				flex-direction: column;
				overflow: auto;
				margin: 0;
			}
		}

		&__column {
			padding: 0 61px;

			@media (max-width:1440px) {
				padding: 0 30px;
			}

			@media (max-width:767px) {
				padding: 15px 0;
			}
		}

		// .phone__number
		&__number {
			font-size: 24px;
			color: rgb(0, 170, 75);
		}

		// .phone__text
		&__text {
			color: #777777;
			padding-bottom: 30px;
		}

		// .phone__ul
		&__ul {}

		// .phone__li
		&__li {
			min-height: 30px;
			font-size: 18px;
			padding-left: 30px;
			padding-bottom: 15px;
			font-family: $f2;
			color: #000;

			&:hover {
				text-decoration: underline;
			}

			&:first-child {
				padding-left: 0;
				text-decoration: none;
			}

			&:last-child {
				padding-bottom: 0;
			}

			// .phone__li_mobile
			&_mobile {
				background: url(../img/header/tel2.png) 0 0 no-repeat;
			}

			// .phone__li_viber
			&_viber {
				background: url(../img/header/вайбер.png) 0 0 no-repeat;
			}

			// .phone__li_telegram
			&_telegram {
				background: url(../img/header/телеграм.png) 0 0 no-repeat;
			}

			// .phone__li_whatsapp
			&_whatsapp {
				background: url(../img/header/вотсап.png) 0 0 no-repeat;
			}
		}

		// Второй столбец

		// .phone__feedback
		&__feedback {
			font-size: 24px;
		}

		// .phone__form
		&__form {
			display: flex;
			flex-direction: column;

		}
	}

	.form-phone {

		// .form-phone__label
		&__label {
			font-size: 16px;
			font-family: $f2;
		}

		// .form-phone__input
		&__input {
			margin-bottom: 15px;
			font-size: 18px;
			border: none;
			outline: none;
			border-bottom: 1px solid #777777;

			&:hover,
			&:active {
				border-bottom-color: #ff8c00;
			}
		}

		// .form-phone__btn
		&__btn {
			margin-top: 10px;
			padding: 15px 25px;
			font-size: 18px;
			border-radius: 25px;
			outline: none;
			border: none;
			color: #fff;
			background-color: #ff8c00;
		}
	}