.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	z-index: 4;
	background-color: #fff;
	// .header__wrap
	&__wrap {
		max-width: 1580px;
		margin: 0 auto;
		padding: 0 15px;
	}
	@import '_header__top';
	@import '_header__body';
	@import '_header__bottom';
}