//===============================================
.main {
	background-color: #f4f2f2;

	&__informer {}

	&__brands {}

	&__news {
		padding-top: calc(40px + (170 - 40) * ((100vw - 320px) / (1920 - 320)));
		padding-bottom: calc(40px + (170 - 40) * ((100vw - 320px) / (1920 - 320)));
	}
	// .main__recommend
	&__recommend {}

	&__about {
		padding: calc(40px + (170 - 40) * ((100vw - 320px) / (1920 - 320))) 0;
	}
}

@import '_informer';
@import '_brands';
@import '_news';
@import '_recommend';
@import '_about';